<div class="navbar">
  <a routerLink="/" class="logo">
    <span>Logo</span>
    <span class="tiny">Food CraBBY</span>
  </a>
  <div class="search">
    <img class="search_icon" src="{{ icons('search') }}" alt="" />
    <input type="text" />
  </div>
  <div class="nav">
    <span class="cart">
      <img class="cart_icon" src="{{ icons('cart') }}" alt="" />
      <div class="badge">3</div>
    </span>
    <div class="profile">
      <span class="avatar"></span>
      <div class="user_info">
        <span class="name">John Doe</span>
        <span class="email">Customer@mail.com</span>
      </div>
    </div>
  </div>
</div>
